//Variables for all elements
//
// Use naming formula element-state-property-size
// All lowercase
// Ex. card-width and button-color-dark

//Color Scheme
colors() {
	white: #ffffff;
	pure-black: #000000;
	black: #262626;
	blue: #668ed8;
	purple: #8b8bd3;
	red: #b46565;
	pink: #eebfec;
	teal: #8ac0c7;
	orange: #d8a166;
}

//Layout
@breakpoint-sm: 600px;
@breakpoint-md: 900px;
@breakpoint-lg: 1200px;
@breakpoint-xl: 1800px;

//Default Colors
@color-primary: colors[white];
@color-secondary: colors[purple];

//Default Font Styling
@default-font-style: normal;
@default-font-weight: 400;

@font-bold-weight: 600;

//Default Fonts
@heading-Font: 'League';
@heading-Font-Location: 'fonts/League.otf';
/* Not supported by League-Spartan
@heading-font_bold-location: '';
@heading-font-italic-location: '';
@heading-font-italic-bold-location: '';
*/

@body-font: 'Open Sans';
@body-font-location: 'fonts/OpenSans.ttf';
@body-font_bold-location: 'fonts/OpenSansBold.ttf';
@body-font-italic-location: 'fonts/OpenSansItalic.ttf';
@body-font-italic-bold-location: 'fonts/OpenSansItalicBold.ttf';

//Global Border Styling
@border-width: .9375rem; //about 15px
@border-radius: ;

//Cards
@card-light-bg: colors[white];
@card-dark-bg: colors[black];
@card-border-radius: @border-width;
@card-border-width: @border-radius;
