//Variables for all elements
//
// Use naming formula element-state-property-size
// Ex. card-width and button-color-dark

//Color Scheme
colors() {
	white: #ffffff;
	pure-black: #000000;
	black: #262626;
	blue: ;
	purple: #8B8BD3;
	red: #B46565;
	pink: ;
	teal: #8AC0C7;
}

//Default Colors
@color-primary: colors[white];
@color-secondary: colors[purple];

//Default Font Styling
@default-font: ; //League Spartan
@default-font-style: ;
@default-font-weight: ;

@Heading-Font: 'League';
@Heading-Font-Location: 'fonts/League.otf';

@Body-Font: 'Open Sans';
@Body-Font-Location: 'fonts/OpenSans.otf';

@border-width: .9375rem; //about 15px

//Global Border Styling
@border-width: ;
@border-radius: ;

//Cards
@card-light-bg: colors[white];
@card-dark-bg: colors[black];
@card-border-radius: @border-width;
@card-border-width: @border-radius;
