//Variables for all elements
//
// Use naming formula element-property-state-size
// Ex. card-width and button-color-dark

//Color Scheme

@white: #ffffff;
@black: #000000;
@grey-10: something;
@grey-20: something;

@blue: ;
@purple: ;

colors() {
	blue: @blue;
	purple: @purple;
}