//Styling for the Card Element

//General styling
.card {
	.box-shadow();
	font-family: @body-font;
	font-style: @default-font-style;
	font-weight: @default-font-weight;
	//max-width: 500px;
	//width: 100%;
	word-wrap: break-word;
}

//Dark version of the card
.card-light {
	&:extend(.card all);
	background-color: @card-light-bg;
}

//Light version of the card
.card-dark {
	.card();
	background-color: @card-dark-bg;
}