//Styling for Images

//Base img styling
.img {
  width: 100%;
  vertical-align: middle;

  //Image global transition
  transition: @img-transition;

  //On hover grow in scale
  //To use add "img-xxx-xxx grow" to the img classes
  &.grow:hover {
    .grow()
  }

  //On hover fade apply
  //To use add "img-xxx-xxx fade" to the img classes
  &.fade:hover {
    .fade();
  }

}

//Image with a border
.img-border {

  &:extend(.img all);

  border: @border-width @border-style;
  border-radius: @img-border-radius;
  border-color: @img-border-color
}

//Image with border and shadow
.img-border-shadow {
  &:extend(.img-border all);
  .box-shadow();
}

//Image with shadow
.img-shadow {
  &:extend(.img all);
  .box-shadow();
}

//Shortcut for responsive images
.img-responsive {
  width: 100%;
  height: 100%;
}

/*
//Make image a circle
.img-rounded-frame {
	width: 50%;
	border-radius: 50%;
	position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.img-rounded-frame:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.img-rounded {
  display: inline;
  margin: 0 auto;
  margin-left: -25%; //centers the image
  height: 100%;
  width: auto;
}
*/