//Styling for links

a {
	text-decoration: none;
	color: #colors[black];
	&:hover {
		text-decoration: @link-hover-decoration;
	}
}

.link-styled() {
	padding: @link-spacing;
}

.link-dark {
	background-color: ;
	.dark-text();
	border-color: @
	&:hover {
		&:extend(.link-styled-light);

	}
}

.link-light {
	&:hover {
		&:extend(.link-styled-dark);
	}
}

each(@link-custom, { 
	.link-@{key} {
		background-color: #colors[@{key}];
		color: #colors[@{value}];
		&:hover {
			background-color: darken(#colors[@{value}], 20%);
		}
	}
});

//light dark
//list funtion that darkens all when hover